@font-face { font-family: Mentone; src('mentone-semibold.ttf'); }

.content {
  font-family: Mentone;
}


.content ul li {
  text-align: left;
  font-size: 40px;
  list-style: inside disc none;
}

.content ul li ul li {
  text-indent: 30px;
}

.content code {
  font-size: 24px;
}

.content blockquote {
  font-size: 40px;
}

.content blockquote p {
  padding-bottom: 10px;
  line-height: 1.1em;
}

.subsection h1 a {
  color: #FFF;
}

.subsection h1 {
  padding: 20px;
}
